<div class="page-height container-fluid form-style">
    <form [formGroup]="registrationForm" (ngSubmit)="onRegistrationFormSubmit()" role="form" autocomplete="off">
        <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
        <div class="form-group">
            <label for="name">Name : </label>
            <input [class.is-invalid]="name.invalid && (name.touched || name.dirty)" type="text" name="name" id="name"
                class="form-control" placeholder="name" formControlName="name" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                <small *ngIf="name.errors.required">
                    Name is required.
                </small>
                <small *ngIf="name.errors.minlength">
                    Name must be at least 4 characters long.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="userName">Username : </label>
            <input [class.is-invalid]="userName.invalid && (userName.touched || userName.dirty)" type="text" name="username"
                id="username" class="form-control" placeholder="Username" formControlName="userName" />
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
                <small *ngIf="userName.errors.required">
                    Username is required.
                </small>
                <small *ngIf="userName.errors.minlength">
                    Username must be at least 4 characters long.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email : </label>
            <input [class.is-invalid]="email.invalid && (email.touched || email.dirty)" type="email" name="email" id="email"
                class="form-control" placeholder="Email" formControlName="email" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <small *ngIf="email.errors.required">
                    Email is required.
                </small>
                <small *ngIf="email.errors.email">
                    Should be a valid email.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password : </label>
            <input [class.is-invalid]="password.invalid && (password.touched || password.dirty)" type="password" name="password"
                id="password" class="form-control" placeholder="Password" formControlName="password" />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                <small *ngIf="password.errors.required">
                    Password is required.
                </small>
                <small *ngIf="password.errors.minlength">
                    Password must be at least 4 characters long.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password : </label>
            <input [class.is-invalid]="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)"
                type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Confirm Password"
                formControlName="confirmPassword" />
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
                <small *ngIf="confirmPassword.errors.required">
                    Password is required.
                </small>
                <small *ngIf="confirmPassword.errors.minlength">
                    Password must be at least 4 characters long.
                </small>
                <small *ngIf="confirmPassword.errors?.MatchPassword">
                    Password Don't Match
                </small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary button" [disabled]="!registrationForm.valid">Sign Up</button>
        <div class="row my-3">
            <h4 class="float-left">Already Have Account? <a routerLink='/login'>Sign In</a></h4>
        </div>
    </form>

</div>
