<form class="form-signup" action="/register" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
    <label for="name" class="sr-only">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Full name" required autofocus>

    <label for="userName" class="sr-only">Email address</label>
    <input type="text" id="userName" name="userName" class="form-control" placeholder="Username" required>

    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required>
    <label for="rePassword" class="sr-only">Repeat Password</label>
    <input type="rePassword" id="rePassword" name="rePassword" class="form-control" placeholder="Repeat Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>