<div class="container border-primary page-height my-5">
    <h3>User Profile</h3>
    <div class="row">
        <div class="col text-left">Name : </div>
        <div class="col">{{ user.name }}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col text-left">User Name : </div>
        <div class="col">{{ user.userName }}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col text-left">Email : </div>
        <div class="col">{{ user.email }}</div>
    </div>
</div>
